<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <form action="/pension_calculada">
        <h2>Calcular pensión</h2>
        <table>
            <tr>
                <td>Tipo de pensión:</td>
                <td>
                    <select name="tipo">
                        <option value="Vejez">Vejez</option>
                        <option value="Sobreviviente">Sobreviviente</option>
                        <option value="Invalidez">Invalidez</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Ingreso Base Liquidación:</td>
                <td><input type="number" name="ingreso_base_liquidacion"></td>
            </tr>
            <tr>
                <td>Semanas Cotizadas:</td>
                <td><input type="number" name="semanas"></td>
            </tr>
            <tr>
                <td>Género:</td>
                <td>
                    <select name="genero">
                        <option value="Hombre">Hombre</option>
                        <option value="Mujer">Mujer</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Edad:</td>
                <td><input type="number" name="edad"></td>
            </tr>
            <tr>
                <td>Porcentaje de Pérdida de Capacidad Laboral:</td>
                <td><input type="number" name="porcentaje_perdida_capacidad_laboral"></td>
            </tr>
        </table>

        <input type="submit" value="Calcular pensión">

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

    </form>

</body>
</html>