<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <form action="/guardar_solicitud">
        <div>
            Tipo de pensión: 
            <select name="tipo">
                <option value="Vejez">Vejez</option>
                <option value="Sobreviviente">Sobreviviente</option> 
                <option value="Invalidez">Invalidez</option>
            </select>
        </div>
        <div>
            Ingreso Base Liquidación: 
            <input type="number" name="ingreso_base_liquidacion">
        </div>
        <div>
            Semanas Cotizadas: 
            <input type="number" name="semanas">
        </div>
        <div>
            Género: 
            <select name="genero">
                <option value="Hombre">Hombre</option>
                <option value="Mujer">Mujer</option>
            </select>
        </div>
        <div>
            Edad: 
            <input type="number" name="edad">
        </div>
        <div>
            Porcentaje de Pérdida de Capacidad Laboral: 
            <input type="number" name="porcentaje_perdida_capacidad_laboral">
        </div>
        <input type="submit" value="Calcular y guardar pensión">
    </form>
</body>
</html>