<!DOCTYPE html>
<html>
    <body>
        <h1>Solicitud Buscada</h1>
        <p>ID: {{id_solicitud}} </p>
        <p>Tipo de pensión: {{tipo}} </p>
        <p>Ingreso base de liquidación: {{ingreso_base_liquidacion}} </p>
        <p>Semanas cotizadas: {{semanas}} </p>
        <p>Género: {{genero}} </p>
        <p>Edad: {{edad}} </p>
        <p>Porcentaje de pérdida de capacidad laboral: {{porcentaje_perdida_capacidad_laboral}} </p>
        <p>Fecha: {{fecha}} </p>
        <p>Tasa de reemplazo: {{tasa_reemplazo | round(2)}} </p>
        <p>Mesada: {{mesada | round(2)}} </p>
    </body>
</html>